.header { 
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    padding: 1rem; 
    }
    .flex-container { 
        display: flex; 
        flex-wrap: wrap; 
        gap: 20px; 
        padding: 20px; 
        } 
        .flex-item { 
        flex: 1;
        }
      .header
      { border: 1px solid #ddd; 
padding: 1rem; 
min-width: 265px;
      }
.footer { 
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    padding: 1rem; 
    } 
    